/* *{
    margin: 0px;
    padding: 0px;box-sizing: border-box;
}
#myid1
{
    background-color: aqua;
    font-size: 20px;
}
#myid2
{
    background-color: yellow;
    font-size: 20px;
}
.myclass{
    background-color: red;
    font-size: 20px;
} */
 /* div p{
    background-color: aqua;
    font-size: 30px;
 } */
  /* div+p{
    background-color: pink;
    font-size: 20px;
  } */

  /* div >p{
    background-color: pink;
    
  } */
   div ~p{
    background-color: aquamarine;
   }